<section class="about">
	<div class="container">
		<h1 class="about">About</h1>
	</div>
	<div class="container">
		<img src="{{asset 'images/motion-face-circle.gif'}}" class="about" id="face-image" />
		<p class="about"><b>Hey there! I'm Willie Koomson.</b> I originally hail from Cleveland, Ohio, where most of my skills in computer, web, and mobile device programming and development were cultivated, in addition to my experience working for and founding non-profit organizations. As of Fall 2014, I have moved to New York City to pursue a bachelors degree from Columbia University. Here I'm working on getting my degree in Computer Science and Political Science.</p>
		<p class="about">The majority of my experience is in web development and design, on both the frontend and the backend. My tools of choice are <b>NodeJS</b>, <b>jQuery</b>, and <b>AngularJS</b>. I spend most of my time studying for my courses, but in my spare time I create websites as a freelance. If you are interested in hiring me to create your website, you can see samples of my work above on GitHub, and send me a message down below so we can get to talking about your idea!</p>
		<p class="about"></p> 
	</div>
</section>