<section class="projects projects_feature">
    <div class="container">
        <div class="row">
        	<div class="col-sm-5">
        		<h2 class="projects_feature">Projects</h2>
        		<h1 class="projects_feature" id="project_title">Title of Project</h1>
        		<h4 class="projects_feature" id="project_description">A sentence describing the project, that should prefereably at least more than one line long, without a period at the end</h4>
        		<a href="#" class="projects_feature" id="project_link">
        			<h5 class="projects_feature" id="projects_link_text">http://linktoproject.com</h5>
        		</a>
        		<h4 class="projects_feature" id="project_role">Project Role</h4>
        	</div>
        	<div class="col-sm-7">
        		<!-- Svg here-->
        		<svg class="projects_feature" id="svg_element"></svg>
        	</div>
        </div>
    </div>
</section>