<a name="projects"></a>
<section class="projects projects_feature">
    <div class="container-fluid projects_feature" id="project_container">
        <div class="row">
        	<div class="col-sm-4 col-sm-offset-1">
        		<h2 class="projects_feature section_title">Projects</h2>
        		<h1 class="projects_feature" id="project_title">Title of Project</h1>
        		<h4 class="projects_feature" id="project_description">A sentence describing the project, that should prefereably at least more than one line long, without a period at the end</h4>
        		<a href="#" class="projects_feature" id="project_link">
        			<h5 class="projects_feature" id="projects_link_text">http://linktoproject.com</h5>
        		</a>
        		<h4 class="projects_feature" id="project_role">Project Role</h4>
        	</div>
        	<div class="col-sm-7">
        		<!-- Svg here-->

        		<img class="projects_feature" id="svg_element" src="" ></img>
        	</div>
        </div>
    </div>
    <a name="github"></a>
    <a href="https://github.com/wkoomson" class="container-fluid github_feature" id="github_container">
	    <div class="row">
	    	<div class="col-sm-offset-1 col-sm-6 github_feature project_feature">
	    		<h1 class="project_feature github_feature" id="github_description">
	    			Check out my source code and latest projects on:
	    		</h1>
	    	</div>
	    	<div class="col-sm-4">
	    		<svg version="1.1" id="github_image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="-875.427 0 1515.573 480.109" enable-background="new -875.427 0 1515.573 480.109" xml:space="preserve">
					<g>
						<g>
							<path id="github_logo_svg" d="M310.499,472.332C182.993,472.372,78.628,368.703,77.77,242.82C76.871,110.944,185.079,7.241,312.565,8.417
								c121.837,1.124,230.537,98.838,230.391,232.243C542.813,371.238,437.431,471.924,310.499,472.332z M513.74,264.978
								c0.223-2.096,0.594-4.863,0.803-7.643c4.192-55.789-10.826-105.947-47.413-148.175c-50.705-58.522-115.399-81.926-192.014-69.92
								c-43.809,6.865-81.296,27.163-111.901,59.192c-44.267,46.326-62.628,101.795-56.439,165.523c0.417,4.293,2.016,4.91,6.011,4.686
								c12.277-0.69,24.585-0.879,36.884-1.114c7.691-0.147,15.388-0.027,22.03-0.027c-1.781-12.783-4.007-25.535-5.253-38.382
								c-2.552-26.316,3.482-50.24,21.012-70.733c1.079-1.262,1.315-4.015,0.81-5.744c-5.347-18.293-3.647-36.204,2.29-54
								c0.871-2.61,2.204-3.992,4.984-3.686c4.617,0.508,9.349,0.566,13.826,1.661c15.727,3.848,29.579,11.81,43.197,20.262
								c1.578,0.979,4.035,1.522,5.792,1.087c29.494-7.297,59.415-9.086,89.201-3.819c12.9,2.281,22.916,0.623,33.756-6.523
								c11.631-7.667,24.842-12.754,39.221-13.584c4.249-0.245,6.484,1.051,7.923,5.385c4.487,13.518,6.83,27.334,4.136,41.303
								c-1.504,7.801-0.793,13.665,5.46,18.863c2.346,1.951,3.773,5.035,5.533,7.66c15.282,22.803,15.118,48.389,13.097,74.215
								c-0.667,8.521-2.202,16.975-3.314,25.268C473.306,266.153,493.032,265.579,513.74,264.978z M354.981,331.624
								c16.03,12.32,18.717,29.065,18.364,47.198c-0.321,16.484,0.079,32.984,0.231,49.476c0.017,1.873,0.488,3.742,0.831,6.21
								c41.327-14.017,74.562-37.953,100.317-72.144c17.584-23.342,29.561-49.319,35.691-77.834c-0.895-0.413-1.037-0.508-1.192-0.546
								c-19.486-4.81-39.354-3.886-59.152-3.768c-1.135,0.007-2.494,1.674-3.348,2.858c-4.266,5.916-7.751,12.541-12.703,17.791
								c-13.527,14.341-31.221,21.169-49.98,25.425C374.717,328.404,365.224,329.77,354.981,331.624z M110.546,285.764
								c9.134,37.742,26.323,69.292,52.176,96.103c25.718,26.67,56.444,44.951,92.909,55.441c0-15.811,0-30.776,0-45.768
								c-5.726,0.617-11.136,1.367-16.572,1.756c-25.334,1.813-46.208-9.527-54.204-32.472c-4.059-11.646-11.707-21.207-22.713-27.631
								c-1.821-1.063-3.466-2.653-4.77-4.329c-2.163-2.78-1.455-5.439,2.042-5.898c3.88-0.508,8.058-0.666,11.821,0.225
								c11.535,2.731,19.347,10.518,25.568,20.198c13.596,21.154,33.988,27.361,57.078,17.168c1.912-0.844,3.408-3.187,4.529-5.157
								c3.179-5.587,5.846-11.473,9.161-16.972c1.547-2.565,4.124-4.509,6.323-6.828c-8.409-1.473-16.613-2.605-24.676-4.377
								c-28.373-6.235-53.206-18.105-69.056-44.09c-0.709-1.162-2.957-1.945-4.491-1.949c-7.487-0.021-15.001-0.043-22.458,0.542
								C139.314,282.817,125.449,284.329,110.546,285.764z M110.076,283.492c22.782-1.755,44.88-3.458,67.56-5.205
								c-2.178-2.95-0.732-8.006-6.03-8.148c-15.477-0.416-30.958-0.857-46.438-0.899c-5.699-0.016-11.401,1.056-17.504,1.672
								C108.627,275.934,109.427,280.107,110.076,283.492z M511.395,280.805c0.579-3.501,1.289-7.8,2.078-12.574
								c-4.289-0.383-7.91-1.071-11.507-0.962c-14.276,0.429-28.552,0.978-42.814,1.745c-7.855,0.422-7.842,0.657-9.281,8.159
								C469.988,278.36,490.158,279.551,511.395,280.805z M311.288,361.632c0,27.643,0,55.185,0,82.802c2.311,0,5.019,0,7.008,0
								c0-27.863,0-55.265,0-82.747c-1.752-0.24-2.545-0.441-3.337-0.434C313.991,361.261,313.025,361.442,311.288,361.632z
								 M286.611,443.225c1.016-26.456-0.262-52.368-0.305-78.35c-5.706,4.778-6.923,11.295-7.002,17.882
								c-0.235,19.723-0.085,39.451-0.085,59.572C281.12,442.56,283.199,442.811,286.611,443.225z M350.324,440.797
								c0-5.401,0.024-10.34-0.004-15.278c-0.087-15.123-0.002-30.252-0.394-45.368c-0.142-5.46-1.728-10.756-6.485-15.108
								c0,26.073,0,51.263,0,76.839C346.067,441.467,348.16,441.138,350.324,440.797z M198.014,351.005
								c0.027-0.483,0.054-0.967,0.081-1.45c-1.242-0.72-2.504-2.041-3.719-1.998c-1.341,0.047-2.639,1.344-3.956,2.096
								c1.042,1.017,1.993,2.721,3.149,2.873C194.96,352.709,196.524,351.571,198.014,351.005z M177.139,333.058
								c2.007,3.055,4.418,3.286,6.883,1.463c0.517-0.382,0.456-2.745-0.122-3.202C181.328,329.291,179.044,330.029,177.139,333.058z
								 M165.955,327.02c2.096,2.63,4.245,3.908,6.888,1.647c0.597-0.51,0.691-2.817,0.181-3.209
								C170.531,323.546,168.126,323.928,165.955,327.02z M226.941,370.693c-1.874-3.092-4.284-3.563-6.991-1.525
								c-0.514,0.387-0.571,2.531-0.098,2.891C222.505,374.078,224.967,373.786,226.941,370.693z M191.969,341.855
								c0.033-0.479,0.065-0.959,0.098-1.438c-1.263-0.709-2.537-1.995-3.785-1.97c-1.332,0.027-2.64,1.291-3.958,2.015
								c1.014,1.007,1.945,2.714,3.062,2.846C188.837,343.48,190.435,342.397,191.969,341.855z M206.435,358.149
								c-2.999-1.082-4.615-2.186-6.1-2.031c-1.119,0.116-2.07,1.845-3.095,2.855c1.494,0.68,2.959,1.788,4.493,1.894
								C202.806,360.941,203.974,359.645,206.435,358.149z M214.083,366.786c0.044-0.464,0.089-0.927,0.133-1.391
								c-1.281-0.747-2.625-2.175-3.826-2.064c-1.437,0.133-2.751,1.582-4.119,2.462c1.059,0.832,2.079,2.276,3.188,2.348
								C210.965,368.239,212.538,367.287,214.083,366.786z M235.755,367.043c-1.504,1.347-2.613,2.341-3.721,3.335
								c1.091,0.955,2.242,2.741,3.257,2.667c1.445-0.105,2.79-1.576,4.178-2.464C238.371,369.535,237.274,368.49,235.755,367.043z
								 M248.308,372.017c1.637-1.438,2.757-2.421,3.876-3.405c-1.149-0.897-2.281-2.479-3.451-2.507
								c-1.271-0.03-2.576,1.384-3.866,2.169C245.864,369.359,246.86,370.442,248.308,372.017z"/>
						</g>
					</g>
					<g id="github_text_svg">
						<path fill="#607D8B" d="M-847.091,227c0.792-0.129,0.982-0.642,1.047-1.386c0.758-8.705,1.894-17.36,4.003-25.85
							c3.711-14.946,9.91-28.671,20.735-39.875c10.156-10.512,22.771-16.707,36.928-19.864c11.866-2.646,23.929-3.484,36.023-2.771
							c10.188,0.601,20.423,1.309,30.38,3.82c5.559,1.402,11.172,2.773,16.095,5.943c0.689,0.444,1.332,0.959,1.897,1.369
							c-2.848,11.451-5.575,22.419-8.242,33.143c-1.075,0.567-1.804,0.952-2.504,1.322c-7.734-2.469-15.533-4.19-23.599-5.122
							c-7.649-0.883-15.273-0.965-22.864-0.509c-8.057,0.484-16.019,2.154-23.03,6.538c-10.059,6.291-15.85,15.648-18.874,26.929
							c-2.195,8.19-3.292,16.5-3.181,24.983c0.11,8.461-0.212,16.915,1.109,25.348c1.469,9.379,3.965,18.424,9.35,26.251
							c5.329,7.747,12.827,12.863,22.215,14.684c9.027,1.751,18.112,1.559,27.196,0.298c1.95-0.271,3.932-0.315,5.826-0.458
							c0.871-3.875,1.14-29.947,0.424-39.353c-4.524-0.536-9.137-0.147-13.725-0.221c-4.486-0.072-8.973-0.016-13.334-0.016
							c-1.239-3.682-1.625-25.68-0.738-35.52c1.505-1.671,3.491-1.59,5.499-1.588c21.157,0.018,42.313,0.011,63.409,0.011
							c1.167,0.492,2.065,1.195,2.757,2.538c0,32.706,0,65.669,0,98.867c-1.697,2.904-5.054,3.945-7.929,5.311
							c-10.588,5.033-21.804,8.199-33.376,10.023c-8.398,1.324-16.896,1.501-25.342,0.984c-11.667-0.713-23.287-1.942-34.468-5.803
							c-12.282-4.241-23.058-10.796-31.609-20.617c-8.486-9.745-13.782-21.235-16.993-33.668c-2.143-8.297-3.619-16.736-4.071-25.32
							c-0.04-0.744-0.23-1.264-1.014-1.421c0-1,0-2,0-3c0.77-0.117,1.052-0.566,1.049-1.338c-0.022-5.768-0.028-11.537-0.013-17.305
							c0.002-0.773-0.273-1.223-1.036-1.357C-847.091,231-847.091,229-847.091,227z"/>
						<path fill="#607D8B" d="M-847.091,233c0.763,0.134,1.038,0.584,1.036,1.357c-0.016,5.768-0.01,11.537,0.013,17.305
							c0.003,0.772-0.279,1.221-1.049,1.338C-847.091,246.333-847.091,239.667-847.091,233z"/>
						<path fill="#607D8B" d="M-453.944,216.943c21.115,0,41.742,0,62.398,0c1.168-1.084,0.598-2.499,0.601-3.74
							c0.041-20.658,0.032-41.317,0.024-61.975c-0.001-2.149-0.261-4.347,1.742-6.193c13.282,0,26.754,0,40.182,0
							c1.66,1.317,1.846,3.064,1.804,4.951c-0.063,2.831-0.016,5.664-0.016,8.496c0,57.644,0,115.287,0,172.931c0,1.659,0,3.317,0,4.721
							c-0.504,1.207-1.17,1.935-2.21,2.703c-12.907,0-26.038,0-39.17-0.002c-1.12-0.525-1.771-1.471-2.574-3.053
							c0-26.413,0-53.341,0-80.243c-11.733-0.987-59.182-0.601-62.696,0.584c0,27.007,0,54.12,0,80.726
							c-0.948,1.584-1.829,2.165-3.148,2.163c-12.162-0.021-24.324-0.026-36.485,0.006c-1.462,0.004-2.602-0.386-3.579-2.121
							c0-1.051,0-2.537,0-4.023c0-60.643-0.006-121.285,0.029-181.928c0.001-1.898-0.755-4.058,1.518-5.827c13.273,0,26.863,0,40.14,0
							c2.054,1.668,1.41,3.638,1.413,5.389c0.039,20.325,0.025,40.65,0.025,60.975C-453.944,213.133-453.944,214.782-453.944,216.943z"/>
						<path fill="#607D8B" d="M-145.901,329.088c-0.32,3.443-0.146,6.836-2.548,9.704c-9.261,0-18.561,0-28.388,0
							c-0.645-0.226-1.385-1.098-2.081-2.296c0-63.137,0-126.439,0-189.629c0.99-2.261,2.925-2.003,4.752-2.004
							c8.665-0.003,17.33-0.002,25.995-0.002c3.811,0,7.622,0,10.988,0c2.278,2.091,1.913,4.325,1.914,6.456
							c0.007,18.163,0.004,36.326,0.004,54.489c0,1.634,0,3.269,0,5.317c5.691-2.96,11.204-4.95,16.904-6.421
							c3.351-0.865,6.703-1.745,10.197-1.757c1.83-0.006,3.625-0.702,5.37-0.677c11.474,0.168,22.71,1.411,32.563,8.187
							c7.642,5.256,12.71,12.501,16.03,20.964c3.079,7.85,4.585,16.066,5.324,24.509c0.552,6.306,0.965,12.599,0.575,18.875
							c-0.828,13.315-1.776,26.608-6.687,39.294c-6.645,17.168-19.052,26.278-37.247,28.057c-3.963,0.387-7.904,0.916-11.871,0.669
							c-14-0.873-27.382-3.795-39.051-12.186C-143.937,330.076-144.838,329.682-145.901,329.088z M-136.061,302.428
							c9.311,5.344,15.489,5.869,26.328,5.803c8.535-0.052,13.737-5.149,15.766-11.783c1.267-4.145,1.594-8.368,2.151-12.617
							c1.173-8.948,0.943-17.833-0.391-26.681c-0.708-4.7-2.274-9.196-5.136-13.186c-3.001-4.183-7.125-6.39-12.017-6.906
							c-9.429-0.995-18.297,1.107-26.701,5.626C-136.061,262.544-136.061,282.326-136.061,302.428z"/>
						<path fill="#607D8B" d="M-324.307,207c13.502,0,26.982,0,40.289,0c1.947,1.849,1.732,4.029,1.731,6.182
							c-0.012,25.661-0.023,51.322,0.01,76.983c0.004,3.464-0.19,6.945,1.121,10.316c1.647,4.238,4.677,6.694,9.052,7.493
							c10.382,1.896,19.85-0.648,28.597-5.782c0.715-1.741,0.398-3.255,0.399-4.729c0.023-28.16,0.003-56.321,0.047-84.481
							c0.003-1.901-0.746-4.05,1.447-5.877c13.134,0,26.575,0,39.943,0c1.189,0.703,1.65,1.682,1.6,2.962
							c-0.039,0.998,0.002,1.999,0.002,2.999c0,39.991,0.01,79.982-0.029,119.973c-0.002,1.892,0.767,4.074-1.651,5.767
							c-8.606,0-17.566,0-26.81,0c-2.636-2.071-1.012-5.878-3.056-8.531c-5.129,3.246-10.825,5.686-16.685,7.757
							c-5.593,1.977-11.311,3.32-17.211,4.155c-4.802,0.679-9.593,1.032-14.369,0.666c-8.857-0.677-17.657-1.562-25.87-5.646
							c-9.734-4.839-15.479-12.667-18.249-22.857c-1.473-5.419-2.151-10.988-2.138-16.659c0.066-28.493,0.019-56.987,0.046-85.481
							C-326.09,210.465-326.741,208.454-324.307,207z"/>
						<path fill="#607D8B" d="M-548.183,205.971c9.696,0,18.981,0,27.853,0c1.471,0.741,2.397,1.425,2.923,2.538
							c0.966,15.698,0.546,28.616-1.237,32.525c-9.551,0-19.312,0-28.785,0c-1.019,1.466-0.716,2.656-0.717,3.78
							c-0.019,16.33,0.196,32.664-0.111,48.989c-0.131,6.93,4.007,13.804,13.805,14.213c5.304,0.222,10.626,0.04,15.658,0.04
							c1.438,0.774,1.822,1.778,1.82,3.048c-0.016,8.817-0.009,17.635-0.009,26.288c-2.575,3.14-6.242,2.711-9.301,3.438
							c-8.815,2.095-17.858,1.692-26.791,0.987c-5.203-0.41-10.388-1.684-15.234-3.865c-13.296-5.983-19.889-16.65-21.9-30.771
							c-0.992-6.962-0.765-13.909-0.798-20.87c-0.063-13.33-0.004-26.662-0.037-39.992c-0.004-1.619,0.356-3.294-0.462-5.179
							c-6.738,0-13.519,0-19.663,0c-2.041-1.081-2.082-2.389-2.078-3.767c0.02-7.828,0.009-15.657,0.009-23.22
							c0.654-1.172,1.334-1.826,2.391-2.063c6.406-1.438,12.809-2.893,19.726-4.459c0.205-6.336,0.032-12.777,0.099-19.211
							c0.066-6.275-0.181-12.561,0.157-18.676c3.808-1.057,34.969-1.325,42.249-0.417c0.934,3.879,0.287,8.018,0.407,12.081
							c0.117,3.996,0.026,7.998,0.026,11.997C-548.183,197.532-548.183,201.658-548.183,205.971z"/>
						<path fill="#607D8B" d="M-669.07,208.602c1.746-1.968,3.37-2.49,5.309-2.483c10.985,0.037,21.969,0.044,32.954-0.008
							c1.748-0.008,3.254,0.347,4.682,1.677c0,43.111,0,86.344,0,129.357c-1.587,1.641-3.304,1.887-5.203,1.878
							c-10.485-0.047-20.971,0.013-31.456-0.038c-5.004-0.024-6.276-1.398-6.278-6.642c-0.014-36.948-0.008-73.897-0.008-110.845
							C-669.07,217.183-669.07,212.869-669.07,208.602z"/>
						<path fill="#607D8B" d="M-624.031,172.732c0.223,11.679-9.533,23.175-24.007,23.126c-13.242-0.045-23.832-10.291-23.823-23.475
							c0.01-13.543,11.682-23.701,24.423-23.408C-634.227,149.279-623.576,159.929-624.031,172.732z"/>
					</g>
				</svg>

	    	</div>
	    	<div class="col-sm-1"></div>
	    </div>
    </a>
</section>
<script src="{{asset 'js/projects_feature.js'}}"></script>